<a href="https://colab.research.google.com/github/casjunior93/demoday-tera-previsao-de-retorno-de-adsense/blob/main/Projeto_Tera.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Habilitando o acesso ao Google Drive no Colab.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Bibliotecas fundamentais

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

#Configura o pandas para não exibir resultados em notação científica
pd.options.display.float_format = '{:.2f}'.format

# Módulos de DataPrep
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import cross_val_score, train_test_split
import missingno as msno

import warnings
warnings.filterwarnings('ignore')

# Modelos de regressão que iremos testar
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from lightgbm import LGBMRegressor

plt.rc('xtick', labelsize=18) 
plt.rc('ytick', labelsize=18) 

# Métricas
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Roteiro do Projeto

O livro [Mãos à Obra: Aprendizado de Máquina com Scikit-Learn, Keras & TensorFlow](https://www.oreilly.com/library/view/maos-a-obra/9788550803814/) traz uma sugestão de roteiro para orientar um projeto de aprendizado de máquina. Os passos gerais são:

1. Abordar o problema e analisar o panorama em geral
2. Obter os dados
3. Explorar os dados para obter informações úteis
4. Preparar os dados para expor melhor os padrões de dados subjacentes aos algoritmos de aprendizado de máquina.
5. Explorar modelos diferentes e selecionar os melhores.
6. Aperfeiçoar os modelos e os combinar em uma solução ideal.
7. Apresentar a solução.
8. Implementar, monitorar e fazer a manutenção de seu sistema.

# 1: Abordar o problema e analisar o panorama em geral

**Objetivo:** Criar um modelo de previsão para monetização e pagamentos de influenciadores digitais.

**Público alvo:** Gestores de Redes Multicanal (MCNs) de criadores do YouTube. 

**Problema do usuário:** Não existe hoje nenhum modelo de previsão para que gestores de redes multicanal (MCNs) consigam realizar de maneira eficiente a previsão de pagamentos de valores recebidos pela plataforma de monetização do YouTube para canais afiliados e YouTube Creators.

**Solução:** Criarmos um modelo de análise para prever o retorno de Adsense baseado no histórico do influenciador.

# 2: Obter os dados

In [22]:
# Carregando os dados para treinamento do modelo
dados = pd.read_csv('/content/drive/MyDrive/ARQUIVOS TERA/Projeto Tera/Dados csv/Dados do gráfico - Dados do gráfico (1).csv',sep=',')
dados1 = pd.read_csv('/content/drive/MyDrive/ARQUIVOS TERA/Projeto Tera/Dados csv/Dados do gráfico - Dados do gráfico (2).csv',sep=',')
dados2 = pd.read_csv('/content/drive/MyDrive/ARQUIVOS TERA/Projeto Tera/Dados csv/Dados do gráfico - Dados do gráfico (3).csv',sep=',')
dados3 = pd.read_csv('/content/drive/MyDrive/ARQUIVOS TERA/Projeto Tera/Dados csv/Dados do gráfico - Dados do gráfico (4).csv',sep=',')
dados4 = pd.read_csv('/content/drive/MyDrive/ARQUIVOS TERA/Projeto Tera/Dados csv/Dados do gráfico - Dados do gráfico.csv',sep=',')
receita = pd.read_csv('/content/drive/MyDrive/ARQUIVOS TERA/Projeto Tera/Dados csv/receita.csv',sep=',')
receita_est_adsense = pd.read_csv('/content/drive/MyDrive/ARQUIVOS TERA/Projeto Tera/Dados csv/receita-est-adsense.csv',sep=',')

# 3: Explorar os dados para obter informações úteis

In [7]:
dados.head(10)

,Data,Canal,Título do canal,Porcentagem visualizada média (%)
0,2013-06-11,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,0.00
1,2013-06-12,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,0.00
2,2013-06-13,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,0.00
3,2013-06-14,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,0.00
4,2013-06-15,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,0.00
5,2013-06-16,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,0.00
6,2013-06-17,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,0.00
7,2013-06-18,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,0.00
8,2013-06-19,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,NaN
9,2013-06-20,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,NaN

In [8]:
dados1.head(10)

         Data                     Canal Título do canal  Inscritos
0  2013-06-11  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1          0
1  2013-06-12  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1          0
2  2013-06-13  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1          0
3  2013-06-14  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1          0
4  2013-06-15  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1          0
5  2013-06-16  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1          0
6  2013-06-17  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1          0
7  2013-06-18  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1          0
8  2013-06-19  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1          0
9  2013-06-20  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1          0

In [9]:
dados2.head(10)

         Data                     Canal Título do canal  Vídeos publicados
0  2013-06-11  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1                  0
1  2013-06-12  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1                  0
2  2013-06-13  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1                  0
3  2013-06-14  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1                  0
4  2013-06-15  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1                  0
5  2013-06-16  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1                  0
6  2013-06-17  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1                  0
7  2013-06-18  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1                  0
8  2013-06-19  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1                  0
9  2013-06-20  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1                  0

In [10]:
dados3.head(10)

         Data                     Canal Título do canal  Visualizações
0  2013-06-11  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1              0
1  2013-06-12  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1              0
2  2013-06-13  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1              0
3  2013-06-14  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1              0
4  2013-06-15  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1              0
5  2013-06-16  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1              0
6  2013-06-17  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1              0
7  2013-06-18  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1              0
8  2013-06-19  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1              0
9  2013-06-20  UCFjrDmEnxrG5TRGVO0TPHLA        Numero 1              0

In [11]:
dados4.head(10)

,Data,Canal,Título do canal,Duração média da visualização
0,2013-06-11,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,00:00:00
1,2013-06-12,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,00:00:00
2,2013-06-13,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,00:00:00
3,2013-06-14,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,00:00:00
4,2013-06-15,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,00:00:00
5,2013-06-16,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,00:00:00
6,2013-06-17,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,00:00:00
7,2013-06-18,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,00:00:00
8,2013-06-19,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,00:00:00
9,2013-06-20,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,00:00:00

In [21]:
receita.head(10)

,Data,Canal,Título do canal,Sua receita estimada (USD)
0,2013-06-11,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,0
1,2013-06-12,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,0
2,2013-06-13,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,0
3,2013-06-14,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,0
4,2013-06-15,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,0
5,2013-06-16,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,0
6,2013-06-17,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,0
7,2013-06-18,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,0
8,2013-06-19,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,0
9,2013-06-20,UCFjrDmEnxrG5TRGVO0TPHLA,Numero 1,0

In [23]:
receita_est_adsense.head(10)

,Data,Visualizações,Tempo de exibição (horas),Duração média da visualização,Sua receita estimada (USD)
0,Total,5480656771,685963237,0:07:30,"5216162,167"
1,2021-11,30943868,"5457275,93",0:10:34,"225678,008"
2,2018-06,65054546,"10065569,98",0:09:17,"162824,196"
3,2019-12,71980566,"11655420,87",0:09:42,"134825,548"
4,2018-05,73640612,"12542338,6",0:10:13,"130083,068"
5,2018-07,66745238,"9764842,142",0:08:46,"128107,494"
6,2020-11,40551107,"6798753,634",0:10:03,"105546,552"
7,2019-11,48559162,"7699249,934",0:09:30,"103680,994"
8,2020-12,47154926,"8204030,303",0:10:26,"101823,473"
9,2018-04,69083055,"11076598,19",0:09:37,"91238,611"